<li>
	{{name}}

	<button class="New Burger" data-id="{{id}}" data-newburger="{{sleep}}">
		{{#if sleep}}Devoured!{{else}}Make New Burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
